.navbar {
  background-color: rgb(240, 124, 255);
  min-height: 50px;
  position: sticky;
  top: 0;

  .navList {
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    min-height: 50px;

    .listItem {
      align-self: center;
      list-style: none;
      font-size: 24px;
      font-weight: 900;

      .listLink {
        text-decoration: none;
        color: black;

        &:active {
          color: rgb(243, 24, 97);
        }
      }
    }
  }
}
